<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>风筝</title>
<meta property="qc:admins" content="27761440017637452167636716450600075507556351645061516450"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/plugins/bootstrap/css/bootstrap.css">
<link href="__PUBLIC__/assets/global/css/home.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/assets/pages/styles/homePage.css"/>
<block name="style"></block>
<style>
	.video{
		height:0;
		overflow: hidden;
	}
</style>
</head>
<body>
<div class="frameset">

	<div class="top">
		<div class="pull-left"><a href="{:U('index/index')}">首页</a></div>
		<div class="nav">
			<ul>
				<volist name="all" id="vo">
					<empty name="vo['children']">
						<li><a href="{:U('index/category',array('id'=>$vo['id']))}">{$vo['name']}</a></li>
					<else/>
						<li>
							<a href="">{$vo['name']}</a>
							<ul>
								<volist name="vo['children']" id="ch">
									<li><a href="{:U('index/category',array('id'=>$ch['id']))}">{$ch['name']}</a></li>
								</volist>
							</ul>
						</li>
					</empty>
				</volist>
			</ul>
		</div>
		<div class="pull-right">
			<span><a href="{:U('index/login')}">登录/注册</a></span>
		</div>
	</div>
	<div class="homePage">
			<div class="headerInfo">
				<div class="Info-con">
					<a href="">
						<img src="__PUBLIC__/assets/global/img/{$avatar_file}" alt="" />
					</a>
					<a href="">{$name}</a>
				</div>
			</div>
			<div class="container-info">
				<aside>
					<ul>
						<li class="active" data-name="articleList"><a href="{:U('index/articleList')}">文章列表</a></li>
						<li data-name="addArticle"><a href="{:U('index/addArticle')}">发布文章</a></li>
						<li data-name="userInfo"><a href="{:U('index/userInfo')}">个人信息</a></li>
					</ul>
				</aside>
				<article>
					<block name="article">
						
					</block>
				</article>
			</div>
			
		</div>
	<div class="bottom"></div>
</div>
<script src="__PUBLIC__/assets/plugins/jquery/jquery-2.1.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__ROOT__/Public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/assets/pages/scripts/public.js"></script>
<block name="script"></block>
<block name="script-init"></block>
<script type="text/javascript">
    $(document).ready(function(){
        Public.init();
    })
</script>


</body>
</html>