<extend name="public:frameset"/>
<block name="body">
	<div class="main">
		<div class="index-con">
			<div class="title"><a href="{:U('Index/index')}">博客管理</a></div>
			<div class="container">
				<table>
					<tr class="first">
						<td>分类</td>
						<td>标题</td>
						<td>内容</td>
						<td>发布时间</td>
						<td>操作</td>
					</tr>
					<volist name="article" id="vo">
						<tr>
							<td>{$vo.name}</td>
							<td>{$vo.title}</td>
							<td>{$vo.content|mb_substr=###,0,10,'utf-8'}</td>
							<td>{$vo.update_time|date='Y.m.d',###}</td>
							<td><a href="{:U('Index/editBlog',array('id'=>$vo[id]))}">编辑</a>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <a href="{:U('Index/delete',array('id'=>$vo[id]))}">删除</a></td>
						</tr>
					</volist>
				</table>
			</div>
		</div>		
	</div>
</block>